<style>
#btn
{
    margin-left:230px;
}
</style>
<div class="view">
<h2 align="center">Hello User</h2><br>
<center><label>You Attempt all the questions what you want To Do Next</label></center><br>
<br>
<br>
<br>
<br>
<div id="btn">
<input type="button" class="btnresult" value = "Result" {{action 'show_test'}} />
<input type="button" class="btnexit" value = "Exit" {{action 'exit_test'}} />
</div>
</div>
