
<h3> ABAP basic test </h3>
<p>There are  total 10 questions
  consisting of MCMA,MCSA and True false.
  Total time for the test is 10 minutes.

</p>
<input type="button" value = "back" {{action 'go_back'}} /> <input type="button" value = "Start test" {{action 'start_test'}} />
