<div class="wrapper2">
  <br>
  <br>
  <br>
  <br>
  {{input type="text" id="textboxclass" placeholder="Enter Comments Here" }}
  <br>
  <br>
  <br>
  <br>
  <input type="button" id="btncmt" value = "Confirm" {{action 'Confirm_Terminate'}} />
   <input type="button" id="btnback" value = "Back" {{action 'Back_Test'}} />
</div>
