<div class="wrapper2">
<div class="mindtecklogo"><img src="Mindteck-icon.png"></div>
<h2 align="center">Hello User</h2>
<center><label>This Test contain MCSA,MCMA and True/False Type Questions.Total Timing Will be 10 minutes.</label></center>
<br><br><br><input type="button" class="btnnxt" value = "Next" {{action 'next_test'}} />
</div>
